<div class="card mb-3">
  <h2 class="card-header h4">
    Author #<%= author.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= author.name %></dd>
      <!-- Display name end -->

      <dt>Headshot</dt>
      <!-- Display headshot start -->
      <dd>
        <%= cl_image_tag @author.headshot, class: "img-fluid" %>
      </dd>
      <!-- Display headshot end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back author, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link author start -->
      <div class="col">
        <%= link_to edit_author_url(author), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link author end -->

      <!-- Delete link author start -->
      <div class="col">
        <%= link_to author, method: :delete, data: { confirm: "Do you really want to delete this author?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link author end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(author.updated_at) %> ago
  </div>
</div>
