<% was_validated = author.errors.any? %>

<%= form_with(model: author, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for name start -->
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = author.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <!-- Input for name end -->
    <% if name_was_invalid %>
      <% author.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for name end -->
  <!-- Label and input for headshot start -->
  <div class="form-group">
    <% headshot_class = "form-control" %>
    <% headshot_was_invalid = author.errors.include?(:headshot) %>

    <% if was_validated %>
      <% if headshot_was_invalid %>
        <% headshot_class << " is-invalid" %>
      <% else %>
        <% headshot_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :headshot %>
    <!-- Input for headshot start -->
    <%= f.text_field :headshot, class: headshot_class, placeholder: "Enter headshot" %>
    <!-- Input for headshot end -->
    <% if headshot_was_invalid %>
      <% author.errors.full_messages_for(:headshot).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for headshot end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
