<% was_validated = book.errors.any? %>

<%= form_with(model: book, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = book.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% book.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% author_class = "form-control" %>
    <% author_was_invalid = book.errors.include?(:author) %>

    <% if was_validated %>
      <% if author_was_invalid %>
        <% author_class << " is-invalid" %>
      <% else %>
        <% author_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :author %>
    <%= f.text_field :author, class: author_class, placeholder: "Enter author" %>
    <% if author_was_invalid %>
      <% book.errors.full_messages_for(:author).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% genre_class = "form-control" %>
    <% genre_was_invalid = book.errors.include?(:genre) %>

    <% if was_validated %>
      <% if genre_was_invalid %>
        <% genre_class << " is-invalid" %>
      <% else %>
        <% genre_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :genre %>
    <%= f.text_field :genre, class: genre_class, placeholder: "Enter genre" %>
    <% if genre_was_invalid %>
      <% book.errors.full_messages_for(:genre).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% page_length_class = "form-control" %>
    <% page_length_was_invalid = book.errors.include?(:page_length) %>

    <% if was_validated %>
      <% if page_length_was_invalid %>
        <% page_length_class << " is-invalid" %>
      <% else %>
        <% page_length_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :page_length %>
    <%= f.text_field :page_length, class: page_length_class, placeholder: "Enter page length" %>
    <% if page_length_was_invalid %>
      <% book.errors.full_messages_for(:page_length).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = book.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <% if user_was_invalid %>
      <% book.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% author_class = "form-control" %>
    <% author_was_invalid = book.errors.include?(:author) %>

    <% if was_validated %>
      <% if author_was_invalid %>
        <% author_class << " is-invalid" %>
      <% else %>
        <% author_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :author_id %>
    <%= f.collection_select :author_id, Author.all, :id, :to_s, {}, class: "form-control" %>
    <% if author_was_invalid %>
      <% book.errors.full_messages_for(:author).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% book_cover_class = "form-control" %>
    <% book_cover_was_invalid = book.errors.include?(:book_cover) %>

    <% if was_validated %>
      <% if book_cover_was_invalid %>
        <% book_cover_class << " is-invalid" %>
      <% else %>
        <% book_cover_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :book_cover %>
    <%= f.file_field :book_cover, class: "form-control" %>
    <% if book_cover_was_invalid %>
      <% book.errors.full_messages_for(:book_cover).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
